<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="file-uploader-area">
    <input class="admin__control-file" type="file" accept="image/*"
           data-bind="
            hasFocus: focused,
            attr: {
                name: inputName,
                placeholder: placeholder,
                'aria-describedby': noticeId,
                id: uid,
                disabled: disabled,
                form: formId
            }"
           onchange="uploadOptionImage(this)"
    />
    <label class="file-uploader-button action-default" attr="for: uid" translate="'Upload'"/>
</div>
